# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# DATASETS (decidir)
# =========================
datasets/raw/*.csv

# OU, se quiser manter:
# !datasets/raw/municipios.csv

# =========================
# TEMP
# =========================
*.log
*.tmp
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/